<a href="https://colab.research.google.com/github/tcv-tclsbc/Advanced-Python-AI-Champions-Hub/blob/main/dbconnectpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import sqlite3 as sl

In [19]:
conn = sl.connect("chinook.db")

In [20]:
cur=conn.cursor()

In [21]:
res=cur.execute("select * from sqlite_master")

In [5]:
for r in res:
  print(r)

('table', 'albums', 'albums', 2, 'CREATE TABLE "albums"\r\n(\r\n    [AlbumId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Title] NVARCHAR(160)  NOT NULL,\r\n    [ArtistId] INTEGER  NOT NULL,\r\n    FOREIGN KEY ([ArtistId]) REFERENCES "artists" ([ArtistId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)')
('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)')
('table', 'artists', 'artists', 4, 'CREATE TABLE "artists"\r\n(\r\n    [ArtistId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Name] NVARCHAR(120)\r\n)')
('table', 'customers', 'customers', 5, 'CREATE TABLE "customers"\r\n(\r\n    [CustomerId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [FirstName] NVARCHAR(40)  NOT NULL,\r\n    [LastName] NVARCHAR(20)  NOT NULL,\r\n    [Company] NVARCHAR(80),\r\n    [Address] NVARCHAR(70),\r\n    [City] NVARCHAR(40),\r\n    [State] NVARCHAR(40),\r\n    [Country] NVARCHAR(40),\r\n    [PostalCode] NVARCHAR(10),\r\n    [Phone] NVARCHAR(24),\r\n    [Fax] NVARCHAR(24),\r\n    [Email] NVARCHAR(60)  NOT NULL,\r\n    [SupportRepId] INTEGER,\r\n    FOREIGN KEY ([SupportRepId]) REFERENCES "employees" ([EmployeeId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)')
('table', 'employees', 'employees', 8, 'CREATE TABLE "employees"\r\n(\r\n    [EmployeeId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [LastName] NVARCHAR(20)  NOT NULL,\r\n    [FirstName] NVARCHAR(20)  NOT NULL,\r\n    [Title] NVARCHAR(30),\r\n    [ReportsTo] INTEGER,\r\n    [BirthDate] DATETIME,\r\n    [HireDate] DATETIME,\r\n    [Address] NVARCHAR(70),\r\n    [City] NVARCHAR(40),\r\n    [State] NVARCHAR(40),\r\n    [Country] NVARCHAR(40),\r\n    [PostalCode] NVARCHAR(10),\r\n    [Phone] NVARCHAR(24),\r\n    [Fax] NVARCHAR(24),\r\n    [Email] NVARCHAR(60),\r\n    FOREIGN KEY ([ReportsTo]) REFERENCES "employees" ([EmployeeId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)')
('table', 'genres', 'genres', 10, 'CREATE TABLE "genres"\r\n(\r\n    [GenreId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Name] NVARCHAR(120)\r\n)')
('table', 'invoices', 'invoices', 11, 'CREATE TABLE "invoices"\r\n(\r\n    [InvoiceId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [CustomerId] INTEGER  NOT NULL,\r\n    [InvoiceDate] DATETIME  NOT NULL,\r\n    [BillingAddress] NVARCHAR(70),\r\n    [BillingCity] NVARCHAR(40),\r\n    [BillingState] NVARCHAR(40),\r\n    [BillingCountry] NVARCHAR(40),\r\n    [BillingPostalCode] NVARCHAR(10),\r\n    [Total] NUMERIC(10,2)  NOT NULL,\r\n    FOREIGN KEY ([CustomerId]) REFERENCES "customers" ([CustomerId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)')
('table', 'invoice_items', 'invoice_items', 13, 'CREATE TABLE "invoice_items"\r\n(\r\n    [InvoiceLineId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [InvoiceId] INTEGER  NOT NULL,\r\n    [TrackId] INTEGER  NOT NULL,\r\n    [UnitPrice] NUMERIC(10,2)  NOT NULL,\r\n    [Quantity] INTEGER  NOT NULL,\r\n    FOREIGN KEY ([InvoiceId]) REFERENCES "invoices" ([InvoiceId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION,\r\n    FOREIGN KEY ([TrackId]) REFERENCES "tracks" ([TrackId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)')
('table', 'media_types', 'media_types', 15, 'CREATE TABLE "media_types"\r\n(\r\n    [MediaTypeId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Name] NVARCHAR(120)\r\n)')
('table', 'playlists', 'playlists', 16, 'CREATE TABLE "playlists"\r\n(\r\n    [PlaylistId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Name] NVARCHAR(120)\r\n)')
('table', 'playlist_track', 'playlist_track', 17, 'CREATE TABLE "playlist_track"\r\n(\r\n    [PlaylistId] INTEGER  NOT NULL,\r\n    [TrackId] INTEGER  NOT NULL,\r\n    CONSTRAINT [PK_PlaylistTrack] PRIMARY KEY  ([PlaylistId], [TrackId]),\r\n    FOREIGN KEY ([PlaylistId]) REFERENCES "playlists" ([PlaylistId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION,\r\n    FOREIGN KEY ([TrackId]) REFERENCES "tracks" ([TrackId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)')
('index', 'sqlite_autoindex_playlist_track_1', 'playlist_track', 18, None)
('table', 'tracks', 'tracks', 20, 'CREATE TABLE "tracks"\r\n(\r\n    [TrackId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Name] NVARCHAR(200)  NOT NULL,\r\n    [AlbumId] INTEGER,\r\n    [MediaTypeId] INTEGER  NOT NULL,\r\n    [GenreId] INTEGER,\r\n    [Composer] NVARCHAR(220),\r\n    [Milliseconds] INTEGER  NOT NULL,\r\n    [Bytes] INTEGER,\r\n    [UnitPrice] NUMERIC(10,2)  NOT NULL,\r\n    FOREIGN KEY ([AlbumId]) REFERENCES "albums" ([AlbumId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION,\r\n    FOREIGN KEY ([GenreId]) REFERENCES "genres" ([GenreId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION,\r\n    FOREIGN KEY ([MediaTypeId]) REFERENCES "media_types" ([MediaTypeId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)')
('index', 'IFK_AlbumArtistId', 'albums', 22, 'CREATE INDEX [IFK_AlbumArtistId] ON "albums" ([ArtistId])')
('index', 'IFK_CustomerSupportRepId', 'customers', 23, 'CREATE INDEX [IFK_CustomerSupportRepId] ON "customers" ([SupportRepId])')
('index', 'IFK_EmployeeReportsTo', 'employees', 24, 'CREATE INDEX [IFK_EmployeeReportsTo] ON "employees" ([ReportsTo])')
('index', 'IFK_InvoiceCustomerId', 'invoices', 26, 'CREATE INDEX [IFK_InvoiceCustomerId] ON "invoices" ([CustomerId])')
('index', 'IFK_InvoiceLineInvoiceId', 'invoice_items', 27, 'CREATE INDEX [IFK_InvoiceLineInvoiceId] ON "invoice_items" ([InvoiceId])')
('index', 'IFK_InvoiceLineTrackId', 'invoice_items', 28, 'CREATE INDEX [IFK_InvoiceLineTrackId] ON "invoice_items" ([TrackId])')
('index', 'IFK_PlaylistTrackTrackId', 'playlist_track', 29, 'CREATE INDEX [IFK_PlaylistTrackTrackId] ON "playlist_track" ([TrackId])')
('index', 'IFK_TrackAlbumId', 'tracks', 30, 'CREATE INDEX [IFK_TrackAlbumId] ON "tracks" ([AlbumId])')
('index', 'IFK_TrackGenreId', 'tracks', 31, 'CREATE INDEX [IFK_TrackGenreId] ON "tracks" ([GenreId])')
('index', 'IFK_TrackMediaTypeId', 'tracks', 32, 'CREATE INDEX [IFK_TrackMediaTypeId] ON "tracks" ([MediaTypeId])')
('table', 'sqlite_stat1', 'sqlite_stat1', 864, 'CREATE TABLE sqlite_stat1(tbl,idx,stat)')

In [6]:
output1=cur.execute("select * from artists")
for o in output1:
  print(o)

(1, 'AC/DC')
(2, 'Accept')
(3, 'Aerosmith')
(4, 'Alanis Morissette')
(5, 'Alice In Chains')
(6, 'Antônio Carlos Jobim')
(7, 'Apocalyptica')
(8, 'Audioslave')
(9, 'BackBeat')
(10, 'Billy Cobham')
(11, 'Black Label Society')
(12, 'Black Sabbath')
(13, 'Body Count')
(14, 'Bruce Dickinson')
(15, 'Buddy Guy')
(16, 'Caetano Veloso')
(17, 'Chico Buarque')
(18, 'Chico Science & Nação Zumbi')
(19, 'Cidade Negra')
(20, 'Cláudio Zoli')
(21, 'Various Artists')
(22, 'Led Zeppelin')
(23, 'Frank Zappa & Captain Beefheart')
(24, 'Marcos Valle')
(25, 'Milton Nascimento & Bebeto')
(26, 'Azymuth')
(27, 'Gilberto Gil')
(28, 'João Gilberto')
(29, 'Bebel Gilberto')
(30, 'Jorge Vercilo')
(31, 'Baby Consuelo')
(32, 'Ney Matogrosso')
(33, 'Luiz Melodia')
(34, 'Nando Reis')
(35, 'Pedro Luís & A Parede')
(36, 'O Rappa')
(37, 'Ed Motta')
(38, 'Banda Black Rio')
(39, 'Fernanda Porto')
(40, 'Os Cariocas')
(41, 'Elis Regina')
(42, 'Milton Nascimento')
(43, 'A Cor Do Som')
(44, 'Kid Abelha')
(45, 'Sandra De Sá')
(46, 'Jorge Ben')
(47, 'Hermeto Pascoal')
(48, 'Barão Vermelho')
(49, 'Edson, DJ Marky & DJ Patife Featuring Fernanda Porto')
(50, 'Metallica')
(51, 'Queen')
(52, 'Kiss')
(53, 'Spyro Gyra')
(54, 'Green Day')
(55, 'David Coverdale')
(56, 'Gonzaguinha')
(57, 'Os Mutantes')
(58, 'Deep Purple')
(59, 'Santana')
(60, 'Santana Feat. Dave Matthews')
(61, 'Santana Feat. Everlast')
(62, 'Santana Feat. Rob Thomas')
(63, 'Santana Feat. Lauryn Hill & Cee-Lo')
(64, 'Santana Feat. The Project G&B')
(65, 'Santana Feat. Maná')
(66, 'Santana Feat. Eagle-Eye Cherry')
(67, 'Santana Feat. Eric Clapton')
(68, 'Miles Davis')
(69, 'Gene Krupa')
(70, 'Toquinho & Vinícius')
(71, 'Vinícius De Moraes & Baden Powell')
(72, 'Vinícius De Moraes')
(73, 'Vinícius E Qurteto Em Cy')
(74, 'Vinícius E Odette Lara')
(75, 'Vinicius, Toquinho & Quarteto Em Cy')
(76, 'Creedence Clearwater Revival')
(77, 'Cássia Eller')
(78, 'Def Leppard')
(79, 'Dennis Chambers')
(80, 'Djavan')
(81, 'Eric Clapton')
(82, 'Faith No More')
(83, 'Falamansa')
(84, 'Foo Fighters')
(85, 'Frank Sinatra')
(86, 'Funk Como Le Gusta')
(87, 'Godsmack')
(88, "Guns N' Roses")
(89, 'Incognito')
(90, 'Iron Maiden')
(91, 'James Brown')
(92, 'Jamiroquai')
(93, 'JET')
(94, 'Jimi Hendrix')
(95, 'Joe Satriani')
(96, 'Jota Quest')
(97, 'João Suplicy')
(98, 'Judas Priest')
(99, 'Legião Urbana')
(100, 'Lenny Kravitz')
(101, 'Lulu Santos')
(102, 'Marillion')
(103, 'Marisa Monte')
(104, 'Marvin Gaye')
(105, 'Men At Work')
(106, 'Motörhead')
(107, 'Motörhead & Girlschool')
(108, 'Mônica Marianno')
(109, 'Mötley Crüe')
(110, 'Nirvana')
(111, 'O Terço')
(112, 'Olodum')
(113, 'Os Paralamas Do Sucesso')
(114, 'Ozzy Osbourne')
(115, 'Page & Plant')
(116, 'Passengers')
(117, "Paul D'Ianno")
(118, 'Pearl Jam')
(119, 'Peter Tosh')
(120, 'Pink Floyd')
(121, 'Planet Hemp')
(122, 'R.E.M. Feat. Kate Pearson')
(123, 'R.E.M. Feat. KRS-One')
(124, 'R.E.M.')
(125, 'Raimundos')
(126, 'Raul Seixas')
(127, 'Red Hot Chili Peppers')
(128, 'Rush')
(129, 'Simply Red')
(130, 'Skank')
(131, 'Smashing Pumpkins')
(132, 'Soundgarden')
(133, 'Stevie Ray Vaughan & Double Trouble')
(134, 'Stone Temple Pilots')
(135, 'System Of A Down')
(136, 'Terry Bozzio, Tony Levin & Steve Stevens')
(137, 'The Black Crowes')
(138, 'The Clash')
(139, 'The Cult')
(140, 'The Doors')
(141, 'The Police')
(142, 'The Rolling Stones')
(143, 'The Tea Party')
(144, 'The Who')
(145, 'Tim Maia')
(146, 'Titãs')
(147, 'Battlestar Galactica')
(148, 'Heroes')
(149, 'Lost')
(150, 'U2')
(151, 'UB40')
(152, 'Van Halen')
(153, 'Velvet Revolver')
(154, 'Whitesnake')
(155, 'Zeca Pagodinho')
(156, 'The Office')
(157, 'Dread Zeppelin')
(158, 'Battlestar Galactica (Classic)')
(159, 'Aquaman')
(160, 'Christina Aguilera featuring BigElf')
(161, "Aerosmith & Sierra Leone's Refugee Allstars")
(162, 'Los Lonely Boys')
(163, 'Corinne Bailey Rae')
(164, 'Dhani Harrison & Jakob Dylan')
(165, 'Jackson Browne')
(166, 'Avril Lavigne')
(167, 'Big & Rich')
(168, "Youssou N'Dour")
(169, 'Black Eyed Peas')
(170, 'Jack Johnson')
(171, 'Ben Harper')
(172, 'Snow Patrol')
(173, 'Matisyahu')
(174, 'The Postal Service')
(175, 'Jaguares')
(176, 'The Flaming Lips')
(177, "Jack's Mannequin & Mick Fleetwood")
(178, 'Regina Spektor')
(179, 'Scorpions')
(180, 'House Of Pain')
(181, 'Xis')
(182, 'Nega Gizza')
(183, 'Gustavo & Andres Veiga & Salazar')
(184, 'Rodox')
(185, 'Charlie Brown Jr.')
(186, 'Pedro Luís E A Parede')
(187, 'Los Hermanos')
(188, 'Mundo Livre S/A')
(189, 'Otto')
(190, 'Instituto')
(191, 'Nação Zumbi')
(192, 'DJ Dolores & Orchestra Santa Massa')
(193, 'Seu Jorge')
(194, 'Sabotage E Instituto')
(195, 'Stereo Maracana')
(196, 'Cake')
(197, 'Aisha Duo')
(198, 'Habib Koité and Bamada')
(199, 'Karsh Kale')
(200, 'The Posies')
(201, 'Luciana Souza/Romero Lubambo')
(202, 'Aaron Goldberg')
(203, 'Nicolaus Esterhazy Sinfonia')
(204, 'Temple of the Dog')
(205, 'Chris Cornell')
(206, 'Alberto Turco & Nova Schola Gregoriana')
(207, 'Richard Marlow & The Choir of Trinity College, Cambridge')
(208, 'English Concert & Trevor Pinnock')
(209, 'Anne-Sophie Mutter, Herbert Von Karajan & Wiener Philharmoniker')
(210, 'Hilary Hahn, Jeffrey Kahane, Los Angeles Chamber Orchestra & Margaret Batjer')
(211, 'Wilhelm Kempff')
(212, 'Yo-Yo Ma')
(213, 'Scholars Baroque Ensemble')
(214, 'Academy of St. Martin in the Fields & Sir Neville Marriner')
(215, 'Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner')
(216, 'Berliner Philharmoniker, Claudio Abbado & Sabine Meyer')
(217, 'Royal Philharmonic Orchestra & Sir Thomas Beecham')
(218, 'Orchestre Révolutionnaire et Romantique & John Eliot Gardiner')
(219, 'Britten Sinfonia, Ivor Bolton & Lesley Garrett')
(220, 'Chicago Symphony Chorus, Chicago Symphony Orchestra & Sir Georg Solti')
(221, 'Sir Georg Solti & Wiener Philharmoniker')
(222, 'Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair')
(223, 'London Symphony Orchestra & Sir Charles Mackerras')
(224, 'Barry Wordsworth & BBC Concert Orchestra')
(225, 'Herbert Von Karajan, Mirella Freni & Wiener Philharmoniker')
(226, 'Eugene Ormandy')
(227, 'Luciano Pavarotti')
(228, 'Leonard Bernstein & New York Philharmonic')
(229, 'Boston Symphony Orchestra & Seiji Ozawa')
(230, 'Aaron Copland & London Symphony Orchestra')
(231, 'Ton Koopman')
(232, 'Sergei Prokofiev & Yuri Temirkanov')
(233, 'Chicago Symphony Orchestra & Fritz Reiner')
(234, 'Orchestra of The Age of Enlightenment')
(235, 'Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra')
(236, 'James Levine')
(237, 'Berliner Philharmoniker & Hans Rosbaud')
(238, 'Maurizio Pollini')
(239, 'Academy of St. Martin in the Fields, Sir Neville Marriner & William Bennett')
(240, 'Gustav Mahler')
(241, 'Felix Schmidt, London Symphony Orchestra & Rafael Frühbeck de Burgos')
(242, 'Edo de Waart & San Francisco Symphony')
(243, 'Antal Doráti & London Symphony Orchestra')
(244, 'Choir Of Westminster Abbey & Simon Preston')
(245, 'Michael Tilson Thomas & San Francisco Symphony')
(246, 'Chor der Wiener Staatsoper, Herbert Von Karajan & Wiener Philharmoniker')
(247, "The King's Singers")
(248, 'Berliner Philharmoniker & Herbert Von Karajan')
(249, 'Sir Georg Solti, Sumi Jo & Wiener Philharmoniker')
(250, "Christopher O'Riley")
(251, 'Fretwork')
(252, 'Amy Winehouse')
(253, 'Calexico')
(254, 'Otto Klemperer & Philharmonia Orchestra')
(255, 'Yehudi Menuhin')
(256, 'Philharmonia Orchestra & Sir Neville Marriner')
(257, 'Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart')
(258, 'Les Arts Florissants & William Christie')
(259, 'The 12 Cellists of The Berlin Philharmonic')
(260, 'Adrian Leaper & Doreen de Feis')
(261, 'Roger Norrington, London Classical Players')
(262, "Charles Dutoit & L'Orchestre Symphonique de Montréal")
(263, 'Equale Brass Ensemble, John Eliot Gardiner & Munich Monteverdi Orchestra and Choir')
(264, "Kent Nagano and Orchestre de l'Opéra de Lyon")
(265, 'Julian Bream')
(266, 'Martin Roscoe')
(267, 'Göteborgs Symfoniker & Neeme Järvi')
(268, 'Itzhak Perlman')
(269, 'Michele Campanella')
(270, 'Gerald Moore')
(271, 'Mela Tenenbaum, Pro Musica Prague & Richard Kapp')
(272, 'Emerson String Quartet')
(273, 'C. Monteverdi, Nigel Rogers - Chiaroscuro; London Baroque; London Cornett & Sackbu')
(274, 'Nash Ensemble')
(275, 'Philip Glass Ensemble')

In [7]:
query="select count(*) from artists"
res=cur.execute(query)
for r in res:
  print(r)

(275,)

In [8]:
query="select count(*) from albums"
res=cur.execute(query)
for r in res:
  print(r)

(347,)

In [9]:
query="select * from artists where artistId=275"
res=cur.execute(query)
for r in res:
  print(r)

(275, 'Philip Glass Ensemble')

In [10]:
query="insert into artists values(325, 'Balaji New V02')"
res=cur.execute(query)
conn.commit()
query="select * from artists where artistId=325"
res=cur.execute(query)
for r in res:
  print(r)

(325, 'Balaji New V02')

In [22]:
import pandas as pd
df_customers=pd.read_sql_query("select * from customers",conn)
df_customers.shape

(59, 13)

In [23]:
df_customers.columns

Index(['CustomerId', 'FirstName', 'LastName', 'Company', 'Address', 'City',
       'State', 'Country', 'PostalCode', 'Phone', 'Fax', 'Email',
       'SupportRepId'],
      dtype='object')

In [24]:
collist=['CustomerId','FirstName','LastName','City','Country']
df_customers_new=df_customers[collist]
df_customers_new

    CustomerId  FirstName      LastName                 City         Country
0            1       Luís     Gonçalves  São José dos Campos          Brazil
1            2     Leonie        Köhler            Stuttgart         Germany
2            3   François      Tremblay             Montréal          Canada
3            4      Bjørn        Hansen                 Oslo          Norway
4            5  František   Wichterlová               Prague  Czech Republic
5            6     Helena          Holý               Prague  Czech Republic
6            7     Astrid        Gruber               Vienne         Austria
7            8       Daan       Peeters             Brussels         Belgium
8            9       Kara       Nielsen           Copenhagen         Denmark
9           10    Eduardo       Martins            São Paulo          Brazil
10          11  Alexandre         Rocha            São Paulo          Brazil
11          12    Roberto       Almeida       Rio de Janeiro          Brazil
12          13   Fernanda         Ramos             Brasília          Brazil
13          14       Mark       Philips             Edmonton          Canada
14          15   Jennifer      Peterson            Vancouver          Canada
15          16      Frank        Harris        Mountain View             USA
16          17       Jack         Smith              Redmond             USA
17          18   Michelle        Brooks             New York             USA
18          19        Tim         Goyer            Cupertino             USA
19          20        Dan        Miller        Mountain View             USA
20          21      Kathy         Chase                 Reno             USA
21          22    Heather       Leacock              Orlando             USA
22          23       John        Gordon               Boston             USA
23          24      Frank       Ralston              Chicago             USA
24          25     Victor       Stevens              Madison             USA
25          26    Richard    Cunningham           Fort Worth             USA
26          27    Patrick          Gray               Tucson             USA
27          28      Julia       Barnett       Salt Lake City             USA
28          29     Robert         Brown              Toronto          Canada
29          30     Edward       Francis               Ottawa          Canada
30          31     Martha          Silk              Halifax          Canada
31          32      Aaron      Mitchell             Winnipeg          Canada
32          33      Ellie      Sullivan          Yellowknife          Canada
33          34       João     Fernandes               Lisbon        Portugal
34          35   Madalena       Sampaio                Porto        Portugal
35          36     Hannah     Schneider               Berlin         Germany
36          37       Fynn    Zimmermann            Frankfurt         Germany
37          38     Niklas      Schröder               Berlin         Germany
38          39    Camille       Bernard                Paris          France
39          40  Dominique      Lefebvre                Paris          France
40          41       Marc        Dubois                 Lyon          France
41          42      Wyatt        Girard             Bordeaux          France
42          43   Isabelle       Mercier                Dijon          France
43          44      Terhi    Hämäläinen             Helsinki         Finland
44          45   Ladislav        Kovács             Budapest         Hungary
45          46       Hugh      O'Reilly               Dublin         Ireland
46          47      Lucas       Mancini                 Rome           Italy
47          48   Johannes  Van der Berg            Amsterdam     Netherlands
48          49  Stanisław        Wójcik               Warsaw          Poland
49          50    Enrique         Muñoz               Madrid           Spain
50          51     Joakim     Johansson            Stockholm          Sweden
51          52       Emma         Jones               London  United Kingdom
52          53       Phil        Hughes               London  United Kingdom
53          54      Steve        Murray           Edinburgh   United Kingdom
54          55       Mark        Taylor               Sidney       Australia
55          56      Diego     Gutiérrez         Buenos Aires       Argentina
56          57       Luis         Rojas             Santiago           Chile
57          58      Manoj        Pareek                Delhi           India
58          59       Puja    Srivastava            Bangalore           India

In [25]:
cond=df_customers_new['Country'] == 'USA'
df_customers_new[cond]

    CustomerId FirstName    LastName            City Country
15          16     Frank      Harris   Mountain View     USA
16          17      Jack       Smith         Redmond     USA
17          18  Michelle      Brooks        New York     USA
18          19       Tim       Goyer       Cupertino     USA
19          20       Dan      Miller   Mountain View     USA
20          21     Kathy       Chase            Reno     USA
21          22   Heather     Leacock         Orlando     USA
22          23      John      Gordon          Boston     USA
23          24     Frank     Ralston         Chicago     USA
24          25    Victor     Stevens         Madison     USA
25          26   Richard  Cunningham      Fort Worth     USA
26          27   Patrick        Gray          Tucson     USA
27          28     Julia     Barnett  Salt Lake City     USA

In [27]:
df_invoices_trial=pd.read_sql_query("select sum(total), count(*) from invoices",conn)
df_invoices_trial

   sum(total)  count(*)
0      2328.6       412

select * from artists order by ArtistId DESC

insert into artists values(276, 'Samyakk')

select C.FirstName, C.LastName, I.*
from invoices I, customers C
where I.CustomerId=C.CustomerId
and C.Country='USA'

select * from Invoices where InvoiceId=13
select * from invoice_items where InvoiceID=2

select inv.CustomerId, items.*
from invoices inv, invoice_items items
where inv.InvoiceId=items.InvoiceId
and inv.InvoiceId=2

select C.customerId, C.FirstName, C.LastName, items.*
from invoices inv, invoice_items items, customers C
where inv.InvoiceId=items.InvoiceId
and inv.InvoiceId=2
and inv.CustomerId=C.CustomerId

select sum(UnitPrice*Quantity)
from invoices inv, invoice_items items
where inv.InvoiceId=items.InvoiceId
and inv.InvoiceId=2

select InvoiceId, InvoiceLineId from invoice_items

select customerid, *
from invoices
order by customerid

select sum(Total), count(CustomerID), customerId
from invoices
where customerid=1

select customerid, sum(total), count(*)
from invoices
group by CustomerId
order by customerid

select customerid, total
from invoices
group by CustomerId
order by customerid

select sum(total), count(*)
from invoices

In [30]:
df_invoices=pd.read_sql_query("select * from invoices", conn)
df_invoices['Total'].sum(), df_invoices['InvoiceId'].count()

(2328.5999999999995, 412)

In [31]:
query="select customerid, sum(total), count(*) from invoices group by CustomerId  order by customerid"
query

'select customerid, sum(total), count(*) from invoices group by CustomerId  order by customerid'

In [33]:
df_total_by_customers=pd.read_sql_query(query,conn)
df_total_by_customers

    CustomerId  sum(total)  count(*)
0            1       39.62         7
1            2       37.62         7
2            3       39.62         7
3            4       39.62         7
4            5       40.62         7
5            6       49.62         7
6            7       42.62         7
7            8       37.62         7
8            9       37.62         7
9           10       37.62         7
10          11       37.62         7
11          12       37.62         7
12          13       37.62         7
13          14       37.62         7
14          15       38.62         7
15          16       37.62         7
16          17       39.62         7
17          18       37.62         7
18          19       38.62         7
19          20       39.62         7
20          21       37.62         7
21          22       39.62         7
22          23       37.62         7
23          24       43.62         7
24          25       42.62         7
25          26       47.62         7
26          27       37.62         7
27          28       43.62         7
28          29       37.62         7
29          30       37.62         7
30          31       37.62         7
31          32       37.62         7
32          33       37.62         7
33          34       39.62         7
34          35       37.62         7
35          36       37.62         7
36          37       43.62         7
37          38       37.62         7
38          39       38.62         7
39          40       38.62         7
40          41       37.62         7
41          42       39.62         7
42          43       40.62         7
43          44       41.62         7
44          45       45.62         7
45          46       45.62         7
46          47       37.62         7
47          48       40.62         7
48          49       37.62         7
49          50       37.62         7
50          51       38.62         7
51          52       37.62         7
52          53       37.62         7
53          54       37.62         7
54          55       37.62         7
55          56       37.62         7
56          57       46.62         7
57          58       38.62         7
58          59       36.64         6